/bootrom/bootrom.elf
/bootrom/bootrom.img
/bootrom/system.dtb
/bootrom/system.dts
/vhdl-wrapper/bin/
/debian-riscv64/
/workspace
/target/
/project/target/
/project/project/target/
/generators/targetutils/target/
/bare-metal/hello-world/boot.elf
